<turbo-stream action="replace" target="startGame">
    <template>
        <a id="startGame" class="btn btn-success disabled" href="">
            Start game
            <span id="gameDisabledMsg" class="badge bg-danger">Waiting for players to be ready...</span>
        </a>
    </template>
</turbo-stream>
