<turbo-stream action="append" target="lobby">
    <template>
        <div {{ stimulus_controller('redirect', {
            path: path('app_index'),
            params: {
                message: 'Das Spiel wurde vom Host beendet.',
                type: 'danger'
            }
        }) }}></div>
    </template>
</turbo-stream>
