{% extends 'base.html.twig' %}

{% block title %}
    Game #{{ game.code }}
{% endblock %}

{% block body %}
    <div {{ turbo_stream_listen('https://webbboly/game/' ~ game.code) }}></div>
    <div {{ turbo_stream_listen('https://webbboly/game/' ~ game.code ~ '/player/' ~ currentPlayer.number) }}></div>

    <div id="game">
        <div id="boardContainer">
            {% block playing_field %}
                {% include 'game/partials/_board.html.twig' %}
            {% endblock %}
        </div>
        <div id="actions">
            {% block actions %}
                {% include 'game/partials/_actions.html.twig' %}
            {% endblock %}
        </div>
        <div id="players">
            {% block players %}
                {% include 'game/partials/_players.html.twig' %}
            {% endblock %}
        </div>
    </div>

    <div id="modal"></div>
{% endblock %}
