@import '~bootstrap/scss/bootstrap';

body {
    background-color: slategrey;
}

.lobby-page-title {
    display: flex;
    justify-content: center;
    margin: 10px;

    h1 {
        font-size: 50px;
        padding: 14px;
    }
}

.players-actions-container {
    display: flex;
    justify-content: space-between;

    #playersContainer {
        width: 60%;
        display: flex;
        flex-direction: column;

        table {
            margin-left: 10px;
            width: auto;

            tr {
                text-align: center;
                border-bottom-color: slategrey;

                td {
                    background-color: #95a6b7;
                }
            }
        }
    }

    #actions {
        width: 40%;
        display: flex;
        flex-direction: column;

        a {
            margin: 2px 10px;
        }
    }
}

#game {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100vh;
    width: 100vw;

    #boardContainer {
        grid-area: 1 / 1 / 2 / 3;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        #board {
            display: grid;
            grid-template-columns: repeat(13, 1fr);
            grid-template-rows: repeat(13, 1fr);
            grid-column-gap: 0;
            grid-row-gap: 0;

            max-width: 80vh;
            border: 0.5rem solid black;
            background-color: white;

            #center {
                grid-area: 3 / 3 / 12 / 12;
                border: 0.5rem solid black;
            }

            #start {
                grid-area: 12 / 12 / 14 / 14;
            }

            #jail {
                grid-area: 12 / 1 / 14 / 3;
            }

            #jail {
                grid-area: 12 / 1 / 14 / 3;
            }

            #parking {
                grid-area: 1 / 1 / 3 / 3;
            }

            #goToJail {
                grid-area: 1 / 12 / 3 / 14;
            }

            #cell1 {
                grid-area: 12 / 11 / 14 / 12;
            }

            #cell2 {
                grid-area: 12 / 10 / 14 / 11;
            }

            #cell3 {
                grid-area: 12 / 9 / 14 / 10;
            }

            #cell4 {
                grid-area: 12 / 8 / 14 / 9;
            }

            #cell5 {
                grid-area: 12 / 7 / 14 / 8;
            }

            #cell6 {
                grid-area: 12 / 6 / 14 / 7;
            }

            #cell7 {
                grid-area: 12 / 5 / 14 / 6;
            }

            #cell8 {
                grid-area: 12 / 4 / 14 / 5;
            }

            #cell9 {
                grid-area: 12 / 3 / 14 / 4;
            }

            #cell10 {
                grid-area: 11 / 1 / 12 / 3;
            }

            #cell11 {
                grid-area: 10 / 1 / 11 / 3;
            }

            #cell12 {
                grid-area: 9 / 1 / 10 / 3;
            }

            #cell13 {
                grid-area: 8 / 1 / 9 / 3;
            }

            #cell14 {
                grid-area: 7 / 1 / 8 / 3;
            }

            #cell15 {
                grid-area: 6 / 1 / 7 / 3;
            }

            #cell16 {
                grid-area: 5 / 1 / 6 / 3;
            }

            #cell17 {
                grid-area: 4 / 1 / 5 / 3;
            }

            #cell18 {
                grid-area: 3 / 1 / 4 / 3;
            }

            #cell19 {
                grid-area: 1 / 3 / 3 / 4;
            }

            #cell20 {
                grid-area: 1 / 4 / 3 / 5;
            }

            #cell21 {
                grid-area: 1 / 5 / 3 / 6;
            }

            #cell22 {
                grid-area: 1 / 6 / 3 / 7;
            }

            #cell23 {
                grid-area: 1 / 7 / 3 / 8;
            }

            #cell24 {
                grid-area: 1 / 8 / 3 / 9;
            }

            #cell25 {
                grid-area: 1 / 9 / 3 / 10;
            }

            #cell26 {
                grid-area: 1 / 10 / 3 / 11;
            }

            #cell27 {
                grid-area: 1 / 11 / 3 / 12;
            }

            #cell28 {
                grid-area: 3 / 12 / 4 / 14;
            }

            #cell29 {
                grid-area: 4 / 12 / 5 / 14;
            }

            #cell30 {
                grid-area: 5 / 12 / 6 / 14;
            }

            #cell31 {
                grid-area: 6 / 12 / 7 / 14;
            }

            #cell32 {
                grid-area: 7 / 12 / 8 / 14;
            }

            #cell33 {
                grid-area: 8 / 12 / 9 / 14;
            }

            #cell34 {
                grid-area: 9 / 12 / 10 / 14;
            }

            #cell35 {
                grid-area: 10 / 12 / 11 / 14;
            }

            #cell36 {
                grid-area: 11 / 12 / 12 / 14;
            }

            //.cell-container {
            //    border-left: 0.2rem solid black;
            //}

            .cell {
                display: flex;
                flex-direction: column;
                font-size: 0.5rem;
                height: 100%;
                width: 100%;
                text-align: center;

                .visitors {
                    position: absolute;
                    top: 50%;
                    left: 40%;
                    transform: translate(-50%, -50%);
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    width: 50px;
                    height: 50px;
                    align-items: center;
                    justify-items: center;

                    .visitor {
                        width: 50%;
                        height: 50%;
                    }
                }

                .cell-content {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }

                .cell-color {
                    height: 15%;
                }

                &.cell-rotated-90 {
                    writing-mode: vertical-rl;

                    .cell-color {
                        height: 100%;
                        width: 15%;
                    }

                    .cell-content {
                        @extend .cell-content;
                        width: 100%;
                    }

                    .img-fluid {
                        @extend .img-fluid;
                        transform: rotate(90deg);
                    }
                }

                &.cell-rotated-180 {
                    transform: rotate(180deg);
                }

                &.cell-rotated-270 {
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);

                    .cell-color {
                        height: 100%;
                        width: 15%;
                    }

                    .cell-content {
                        @extend .cell-content;
                        width: 100%;
                    }

                    .img-fluid {
                        @extend .img-fluid;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    #players {
        grid-area: 2 / 1 / 3 / 2;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 4fr;
        grid-column-gap: 1rem;
        grid-row-gap: 0;

        padding: 1rem;
    }

    #actions {
        grid-area: 2 / 2 / 3 / 3;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        padding: 1rem;
        align-items: center;
        justify-items: center;

        #dice {
            cursor: pointer;
            grid-area: 1 / 1 / 3 / 3;

            &[disabled] {
                opacity: 0.4;
                cursor: progress;
            }
        }

        #trade {
            cursor: pointer;
            grid-area: 2 / 3 / 3 / 4;

            &[disabled] {
                opacity: 0.4;
                cursor: progress;
            }
        }

        #endTurn {
            cursor: pointer;
            grid-area: 1 / 3 / 2 / 5;

            &[disabled] {
                opacity: 0.4;
                cursor: progress;
            }
        }

        #leave {
            cursor: pointer;
            grid-area: 2 / 4 / 3 / 5;
        }
    }
}

.buildingCard,
.actionFieldCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .action-field-card,
    .building-card {
        hr {
            margin: .5rem;
        }

        .list-group-item {
            --bs-list-group-item-padding-y: 0.25rem;
            --bs-list-group-item-padding-x: 0;
        }
        .card-body {
            font-size: small;
        }
    }
}
