<div class="card-body text-center">
    <i class="bi bi-train-front-fill fs-1"></i>
    <h5 class="card-title text-center p-2 border-top border-3 border-black border-bottom">{{ actionField.name }}</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="me-auto">
                Miete
            </div>
            25$
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="me-auto">
                Miete mit <i class="bi bi-train-front-fill">2</i>
            </div>
            50$
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="me-auto">
                Miete mit <i class="bi bi-train-front-fill">3</i>
            </div>
            100$
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="me-auto">
                Miete mit <i class="bi bi-train-front-fill">4</i>
            </div>
            200$
        </li>
    </ul>
    <hr>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="me-auto">
                Hypothek
            </div>
            100$
        </li>
    </ul>
</div>
