<div class="card-body text-center">
    <i class="bi bi-droplet-fill fs-1"></i>
    <h5 class="card-title text-center p-2 border-top border-3 border-black border-bottom">Wasserwerk</h5>
    <p>
        Die Miete betr채gt das 4-fache der gew체rfelten Zahl, beim besitz eines Werks.
    </p>
    <p>
        Die Miete betr채gt das 10-fache der gew체rfelten Zahl, beim besitz beider Werke.
    </p>
    <hr>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="me-auto">
                Hypothek
            </div>
            75$
        </li>
    </ul>
</div>
