<div class="h-100 w-100 rounded bg-secondary position-relative">
    <a href="#" class="stretched-link">Rolle the Dice</a>
</div>
<div class="h-100 w-100 rounded bg-primary position-relative">
    <a href="#" class="stretched-link">Trade</a>
</div>
<div class="h-100 w-100 rounded bg-danger position-relative">
    <a href="#" class="stretched-link">Give up / Leave</a>
</div>
