<div id="board" class="rounded ratio ratio-1x1">
    <div id="center"></div>
    <div id="start"></div>
    <div id="jail"></div>
    <div id="parking"></div>
    <div id="goToJail"></div>
    <div id="cell1"></div>
    <div id="cell2"></div>
    <div id="cell3"></div>
    <div id="cell4"></div>
    <div id="cell5"></div>
    <div id="cell6"></div>
    <div id="cell7"></div>
    <div id="cell8"></div>
    <div id="cell9"></div>
    <div id="cell10"></div>
    <div id="cell11"></div>
    <div id="cell12"></div>
    <div id="cell13"></div>
    <div id="cell14"></div>
    <div id="cell15"></div>
    <div id="cell16"></div>
    <div id="cell17"></div>
    <div id="cell18"></div>
    <div id="cell19"></div>
    <div id="cell20"></div>
    <div id="cell21"></div>
    <div id="cell22"></div>
    <div id="cell23"></div>
    <div id="cell24"></div>
    <div id="cell25"></div>
    <div id="cell26"></div>
    <div id="cell27"></div>
    <div id="cell28"></div>
    <div id="cell29"></div>
    <div id="cell30"></div>
    <div id="cell31"></div>
    <div id="cell32"></div>
    <div id="cell33"></div>
    <div id="cell34"></div>
    <div id="cell35"></div>
    <div id="cell36"></div>
</div>
