<div class="modal fade" id="actionFieldCardModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="actionFieldModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    {{ actionField.name }} kaufen
                </h1>
            </div>
            <div class="modal-body">
                <div class="actionFieldCard">
                    {% component ActionFieldCardComponent with {
                        actionField: actionField,
                    } %}
                        {% block content %}
                            {% include 'game/partials/actionFields/_' ~ actionField.function ~ '-card.html.twig' %}
                        {% endblock %}
                    {% endcomponent %}
                </div>
                <div class="d-flex justify-between gap-2">
                    <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">Pass</button>
                    <button class="btn btn-success w-100 {% if player.money < price %}disabled{% endif %}"
                            data-bs-dismiss="modal"
                            onclick="localFetch('{{ path('app_game_buy_action_field', {
                                code: player.game.code,
                                playerId: player.id,
                                actionFieldId: player.game.getGameFieldByField(actionField).id,
                                price: price,
                            }) }}')">
                        Buy ({{ price }}$)
                        {% if player.money < price %}
                            <span class="badge bg-danger">Nicht genügend Geld</span>
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
