<div class="modal fade" id="buildingCardModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="buildingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="buildingCardModal">
                    {{ building.name }} kaufen
                </h1>
            </div>
            <div class="modal-body">
                <div class="buildingCard">
                    {{ component('BuildingCardComponent', {
                        building: building,
                    }) }}
                </div>
                <div class="d-flex justify-between gap-2">
                    <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">Pass</button>
                    <button class="btn btn-success w-100 {% if player.money < building.price %}disabled{% endif %}"
                            data-bs-dismiss="modal"
                            onclick="localFetch('{{ path('app_game_buy_building', {
                                code: player.game.code,
                                playerId: player.id,
                                buildingId: player.game.getGameFieldByField(building).id,
                            }) }}')">
                        Buy ({{ building.price }}$)
                        {% if player.money < building.price %}
                            <span class="badge bg-danger">Nicht genügend Geld</span>
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
