{% if computed.players|length > 0 %}
    <div class="visitors">
        {% for player in computed.players %}
            <span class="visitor rounded-circle bg-{{ this.getPlayerClass(player) }}"></span>
        {% endfor %}
    </div>
{% endif %}
