<div id="actionField{{ actionField.id }}" class="card action-field-card"
     style="width: 14rem;">
    {% block content %}
        <div class="card-body">
                <h5 class="card-title text-center p-2">
                    {{ actionField.name }}
                </h5>
        </div>
    {% endblock %}
</div>
