<tr id="player-{{ this.player.id }}">
    <td>
        <div>
            Player {{ this.player.number }}: {{ this.player.nickname }}
            {% if this.isHost %}
                <span class="badge bg-secondary">Host</span>
            {% endif %}
            {% if this.isMe %}
                <span class="badge bg-primary">Ich</span>
            {% endif %}
            {% if this.player.isReady %}
                <span class="badge bg-success">Bereit</span>
            {% endif %}
            {% if this.forHost and not this.isMe %}
                <a class="badge bg-danger" href="{{ path('app_lobby_kick', {
                    'code': this.player.game.code,
                    'number': this.player.number
                }) }}">Kick</a>
            {% endif %}
        </div>
    </td>
</tr>
