<div id="player{{ player.id }}" class="card {% if isMe %}border-info border-3{% endif %} bg-{{ this.getPlayerClass }}">
    <div class="card-body">
        <div class="card-title">
            <h6>
                {{ player.nickname }}
                {% if isMe %}<span class="badge bg-info">Me</span>{% endif %}
                {% if isMyTurn %}<span class="badge bg-secondary">Am Zug</span>{% endif %}
            </h6>
        </div>
        <span class="d-block mb-2">BBBanknote: {{ player.money }}$</span>
        {% include 'game/partials/_player-cards.html.twig' %}
    </div>
</div>
