<turbo-stream action="replace" target="player-{{ player.number }}">
    <template>
        <div id="player-{{ player.number }}">
            Player {{ player.number }}: {{ player.nickname }}
        </div>
    </template>
</turbo-stream>
